body {
  font-family: sans-serif;

}

h1, h2 {
  text-align: center;
}

u {
  text-decoration-style: dotted;
}

img:hover {
  opacity: 0.6;
}

a {
  color: orange;
}

a:hover {
  color: red;
}

/*intro*/

.ip1 {
  background-color: #C4DFE6;
  padding-bottom: 5%;
  padding-top: 3%;
}

.indie {
  height: 70%
  width: 60%;
  margin-left: 30%;
}

.idiot {
  padding-right: 30%;
  padding-bottom: 3%;
}

/*history*/

.history {
  background-color: #A1D6E2;
  padding-top: 3%;
}


.education {
  margin: 5% 10% 7% 4%;
}

.employment {
  margin: 7% 5% 10%;
}

.hack {
  margin: 7% 5% 0;
  padding-bottom: 6%;
}

/*interests*/

.interests {
  background-color: #66A5AD;
  padding: 4% 0 20%;
}

.cool {
  color: #FFFFFF;
}

.gtr {
  margin: 5% 10% 7% 4%;
}

.ymcmb {
  margin: 10% 5%;
}

#amoi {
  margin-left: 2%;
}

.friends {
  height: 60%;
  width: 60%;
}

/*hobbies*/
.hobbies {
  background-color: #1E656D;
  padding: 4% 0 9%;
}

.lebron {
  margin: 5% 5% 5% 3%;
  padding-bottom: 3%;
}

.lala {
  margin: 5% 6% 7% 3%;
}

.really {
  margin: 15% 5% 0 4%;
  padding-bottom: 3%;

}

/*skills*/
.skills {
  background-color: #054043;
  padding-top: 3%;
}

.noah {
  margin: 5% 5% 5% 3%;
  padding-bottom: 3%;
}

#bunny {
  padding-bottom: 3%;
}

.hear {
  margin: 15% 5% 0% 4%;
  padding-bottom: 3%;
}

.audio {
  margin: 10% 6% 7% 10%;
  padding-bottom: 10%;
}

.left {
  float: left;
  padding-right: 3%
}

.right {
  float: right;
  padding-left: 3%

}
